spring:
  application:
    name: activity-service
  data:
    mongodb:
      uri: mongodb://root:root@mongodb:27017/fitness-activity?authSource=admin
      databases: fitness-activity
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

server:
  port: 8082


eureka:
  instance:
    preferIpAddress: false
    hostname: activity-service
    instance-id: ${spring.application.name}:${server.port}

  client:
    serviceUrl:
      defaultZone: http://eureka:8761/eureka/

rabbitmq:
  exchange:
    name: fitness.exchange
  queue:
    name: activity.queue
  routing:
    key: activity.tracking
