spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://mysql:3306/fitness_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true

server:
  port:
    8080

eureka:
  instance:
    preferIpAddress: false
    hostname: user-service
    instance-id: ${spring.application.name}:${server.port}

  client:
    serviceUrl:
      defaultZone: http://eureka:8761/eureka/